<template>
  <div class="about">
    <p>This is an example Vue application that shows how to fetch the weather using an apiKey. The API key is saved to
      localStorage, and used to authenticate with openweathermap.org.</p>
    <p>For more information, please check out <a href="https://openweathermap.org/" target="_blank">https://openweathermap.org/</a></p>
  </div>
</template>
