<template>
  <div class="home">

    <template v-if="loading">
      Loading...
    </template>
    <template v-else>
      <!--
    <div class="row mb-3">
      <div class="col-sm-4">

        <label for="zipcode" class="control-label fw-bold">Zipcode</label>
        <div class="input-group mb-3">
          <input type="text" id="zipcode" class="form-control" v-model="zipcode">
          <button class="btn btn-outline-secondary" @click="useLocation()">Use My Zipcode</button>
        </div>

        <button class="btn btn-primary" @click="getWeather(zipcode)">Fetch My Weather!</button>

      </div>
    </div>
    -->
      <p class="alert alert-warning" v-if="message">{{ message }}</p>


      <div class="row" v-if="Object.keys(weather).length > 0">
        <!-- Current -->
        <div class="col-sm-12">
          <hourly :hour="weather.current"></hourly>
        </div>


        <!-- Minutely -->
        <div class="col-sm-4">
          <h4>By the Minute</h4>

          <div class="card">
            <div class="card-header fw-bold bg-primary text-white">For the Next Hour,</div>
            <div class="list-group-flush">
              <li class="list-group-item" v-for="(m, i) in weather.minutely" :minute="m" :key="i">
                <minutely :minute="m"></minutely>
              </li>
            </div>
          </div>
        </div>

        <!-- Hourly -->
        <div class="col-sm-4">
          <h4>By the Hour</h4>

          <hourly v-for="(h, i) in weather.hourly" :hour="h" :key="i"></hourly>
        </div>

        <!-- Daily -->
        <div class="col-sm-4">
          <h4>By the Day</h4>

          <daily v-for="(d, i) in weather.daily" :day="d" :key="i"></daily>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import Vue from "vue";
import moment from "moment";

// @ is an alias to /src
import ByTheDay from "@/components/ByTheDay";
import ByTheHour from "@/components/ByTheHour";
import ByTheMinute from "@/components/ByTheMinute";

// this creates custom html tags called <minutely>, <hourly>, and <daily>
// see the component files referenced above for their implementation
Vue.component('minutely', ByTheMinute);
Vue.component('hourly', ByTheHour);
Vue.component('daily', ByTheDay);

export default {
  name: 'Home',

  data() {
    return {
      zipcode: null,
      message: null,
      loading: false,

      weather: {}
    };
  },

  //
  filters: {
    friendlyTime(value) {
      return moment(value * 1000).format("h:mm a");
    },

    fahrenheit(value) {
      let kelvin = parseFloat(value),
          celsius = kelvin - 273.15;

      return Math.round(celsius * (9/5) * 10) / 10 + 32;
    }
  },

  methods: {
    getWeather(zipcode) {
      return zipcode;
    },


    useLocation() {
      navigator.geolocation.getCurrentPosition((data) => {
        let lat = data.coords.latitude,
            lng = data.coords.longitude;

        // really should use vuex for this; allows applicationwide storage, rather than per component
        let settings = JSON.parse(
            localStorage.getItem('lil-weather-settings')
        );

        if(settings && settings.apiKey) {
          this.loading = true;
          fetch(`https://api.openweathermap.org/data/2.5/onecall?lat=${lat}&lon=${lng}&appid=${settings.apiKey}`)
              .then(response => response.json())
              .then(json => {
                this.weather = json;

                document.title = `Lil' Weather - Weather For (${lat}, ${lng})`

                this.loading = false;
              });
        }
        else {
          this.message = "Please Set the API Key. https://home.openweathermap.org/api_keys"
        }
      })
    }
  },

  mounted() {
    this.useLocation();
  }
}
</script>
