<template>
  <div id="settings">

    <div class="form-group mb-2">
      <label for="apiKey" class="control-label">API Key</label>
      <input type="text" class="form-control" v-model="apiKey" id="apiKey" />
    </div>

    <div class="form-group mb-2">
      <button @click="save()" class="btn btn-primary">Save Settings</button>
    </div>

  </div>
</template>

<script>
const lsSettingsKey = 'lil-weather-settings';

export default {
  name: "SettingsPage",
  data() {
    return {
      apiKey: null
    };
  },

  methods: {
    save() {
      localStorage.setItem(lsSettingsKey, JSON.stringify(this.$data));
    },

    load() {
      let settings = JSON.parse( localStorage.getItem(lsSettingsKey) );

      if(settings == null)
        settings = {
          apiKey: null
        }

      for(let k of Object.keys(settings)) {
        this[k] = settings[k];
      }
    }
  },

  mounted() {
    this.load();
  }
}
</script>

<style scoped>

</style>