<template>
  <div class="minute mb-1">
    <span class="text-muted">{{ minute.dt | friendlyTime }}</span>: {{ Math.round(minute.precipitation * 1000) / 10 }}% Precipitation
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "ByTheMinute",

  props: ['minute'],

  filters: {
    friendlyTime(value) {
      return moment(value * 1000).format("h:mm a");
    }
  }
}
</script>

<style scoped>

</style>