<template>
  <div class="day mb-4">
    <div class="card">
      <div class="card-header bg-primary fw-bold text-white">
        {{ day.dt | friendlyDate }}
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <dl>
              <dt>Sunrise</dt>
              <dd>{{ day.sunrise | friendlyTime }}</dd>

              <dt>Sunset</dt>
              <dd>{{ day.sunset | friendlyTime }}</dd>
            </dl>
          </div>
          <div class="col-sm-6">
            <dl>
              <dt>Moonrise</dt>
              <dd>{{ day.moonrise | friendlyTime }}</dd>

              <dt>Moonset</dt>
              <dd>{{ day.moonset | friendlyTime }}</dd>
            </dl>
          </div>
        </div>

        <p>Daytime High: {{ day.temp.max | fahrenheit }}&deg; F</p>
        <p>Nighttime Low: {{ day.temp.min | fahrenheit }}&deg; F</p>

        <template v-for="(w, k) in day.weather">
          <div :key="k" class="mb-3">{{ w.main }}: {{ w.description }}</div>
        </template>

        <p>UV Index: {{ day.uvi }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "ByTheDay",

  props: ['day'],

  filters: {
    friendlyDate(value) {
      return moment(value * 1000).format("dddd, MMM D");
    },

    friendlyTime(value) {
      return moment(value * 1000).format("h:mm a");
    },

    fahrenheit(value) {
      let kelvin = parseFloat(value),
          celsius = kelvin - 273.15;

      return Math.round(celsius * (9/5) * 10) / 10 + 32;
    },
  }
}
</script>

<style scoped>

</style>