<template>
  <div class="hour mb-1">
    <div class="card mb-4">
      <div class="card-header fw-bold bg-primary text-white">
        Weather At {{ hour.dt | friendlyTime }}
      </div>

      <div class="card-body">
        <template v-if="hour.sunrise && hour.sunset">
          <strong>Sunrise At: {{ hour.sunrise | friendlyTime }}</strong><br>
          <strong>Sunset At: {{ hour.sunset | friendlyTime }}</strong><br><br>
        </template>

        <p>Temperature: {{ hour.temp | fahrenheit }}&deg; F</p>
        <p>Feels Like: {{ hour.feels_like | fahrenheit }}&deg; F</p>

        <template v-for="(w, k) in hour.weather">
          <div :key="k" class="mb-2">
            {{ w.main }} - {{ w.description }}
          </div>
        </template>

        <p>Wind Speed: {{ hour.wind_speed }}mph</p>
        <p>Wind Direction: {{ hour.wind_deg }}&deg;</p>

        <p>UV Index: {{ hour.uvi }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "ByTheHour",

  props: ['hour'],

  filters: {
    friendlyTime(value) {
      return moment(value * 1000).format("h:mm a");
    },

    fahrenheit(value) {
      let kelvin = parseFloat(value),
          celsius = kelvin - 273.15;

      return Math.round(celsius * (9/5) * 10) / 10 + 32;
    },

    // returns inHg - atmospheric pressure in inches of mercury
    atmosphericPressure(value) {
      return Math.round(value / 33.8639 * 100) / 100;
    }
  }
}
</script>

<style scoped>

</style>