<template>
  <div id="app">

    <div id="header-container" class="mb-5 pt-4">
      <div class="container">
        <h1>Lil' Weather App</h1>
        <h4>Showing the Weather in Your Area</h4>
      </div>
    </div>

    <div class="container mb-3">
      <ul id="nav" class="nav">
        <li class="nav-item">
          <router-link to="/" class="nav-link">Home</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/about" class="nav-link">About</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/settings" class="nav-link">Settings</router-link>
        </li>
      </ul>
    </div>


    <div class="container">
      <main id="content">
        <router-view/>
      </main>
    </div>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Playfair+Display&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
